<h1>The Hat Test!</h1>
<hr>
 <h5> <%= flash[:message] %> </h5>
<form action="/students" method="post">
  <label>Student's Name</label>
  <input type="text" placeholder="name" name="student[name]" autofocus required>
  <label> Student's Last Name</label>
  <input type="text" placeholder="last name" name="student[last_name]" required>
  <button type="submit" class="btn btn-primary">Put the hat on!</button>
</form>
<hr>
<%= link_to "Home", root_path %>
