<h1>Welcome to Hogwarts!</h1>
<hr>
<a href="/houses" class="btn btn-info btn-lg">View Houses</a>
<a href="/students" class="btn btn-info btn-lg">View Students</a>
<a href="/students/new" class="btn btn-success btn-lg">Enroll: Take The Hat Test</a>
